In [1]:
import pandas as pd
import math as m
import numpy as np

Bad key "â€œbackend" on line 1 in
/Users/rfdanti/.matplotlib/matplotlibrc.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.2.1/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
train = pd.read_csv('train_missing_v0.2.csv')
train.info()

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050330 entries, 0 to 1050329
Data columns (total 9 columns):
Date             1050330 non-null object
Customers        1017209 non-null float64
DayOfWeek        1050330 non-null int64
Open             1017209 non-null float64
Promo            1017209 non-null float64
Sales            1017209 non-null float64
SchoolHoliday    1017209 non-null float64
StateHoliday     1017209 non-null object
Store            1050330 non-null int64
dtypes: float64(5), int64(2), object(2)
memory usage: 72.1+ MB

In [5]:
merge = pd.read_csv('train_transformed.csv')

In [10]:
train.groupby(['DayOfWeek', 'Open'])['Store'].aggregate('nunique').unstack()

Open        0.0   1.0
DayOfWeek
1          1090  1115
2          1103  1115
3          1105  1115
4          1105  1115
5          1105  1115
6           443  1115
7          1105    33

In [34]:
train.pivot_table(index=["Store","Open"],values=["Date"],
               columns=["DayOfWeek"],aggfunc=pd.Series.nunique,fill_value=0)

           Date
DayOfWeek     1    2    3    4    5    6    7
Store Open
1     0.0     6    1    3   11    6    0  134
      1.0   128  134  132  124  129  134    0
2     0.0     6    1    3    8    6    0  134
      1.0   128  134  132  127  129  134    0
3     0.0     6    1    3   11    7    1  134
      1.0   128  134  132  124  128  133    0
4     0.0     6    1    3    8    6    0  134
      1.0   128  134  132  127  129  134    0
5     0.0     7    1    5    9    7    0  134
      1.0   127  134  130  126  128  134    0
6     0.0     6    1    5    9    7    0  134
      1.0   128  134  130  126  128  134    0
7     0.0     6    1    3    7    5    0  134
      1.0   128  134  132  128  130  134    0
8     0.0     6    1    3    8    6    0  134
      1.0   128  134  132  127  129  134    0
9     0.0     6    1    3   11    7    1  134
      1.0   128  134  132  124  128  133    0
10    0.0     6    1    3    8    6    0  134
      1.0   128  134  132  127  129  134    0
11    0.0     6    1    3    8    6    0  134
      1.0   128  134  132  127  129  134    0
12    0.0     6    1    3    8    6    0  134
      1.0   128  134  132  127  129  134    0
13    0.0     7    2    3   12    5    0  108
      1.0   101  106  105   97  104  108    0
14    0.0     6    1    3   11    7    1  134
      1.0   128  134  132  124  128  133    0
15    0.0     6    1    3    8    6    0  134
      1.0   128  134  132  127  129  134    0
...         ...  ...  ...  ...  ...  ...  ...
1101  0.0     6    1    3    8    6    0  134
      1.0   128  134  132  127  129  134    0
1102  0.0     7    2    3   11    5    0  108
      1.0   101  106  105   98  104  108    0
1103  0.0     6    1    3   11    6    0  134
      1.0   128  134  132  124  129  134    0
1104  0.0     7    2    3   11    5    0  108
      1.0   101  106  105   98  104  108    0
1105  0.0     6    1    3   11    7    1  134
      1.0   128  134  132  124  128  133    0
1106  0.0     6    1    3    8    6    0  134
      1.0   128  134  132  127  129  134    0
1107  0.0     7    2    3   10    5    0  108
      1.0   101  106  105   99  104  108    0
1108  0.0     6    1    5    9    7    0  134
      1.0   128  134  130  126  128  134    0
1109  0.0     7    2    3   11    5    0  108
      1.0   101  106  105   98  104  108    0
1110  0.0     6    1    3    9    6    0  134
      1.0   128  134  132  126  129  134    0
1111  0.0     6    1    3   11    7    1  134
      1.0   128  134  132  124  128  133    0
1112  0.0     6    1    3   11    7    1  134
      1.0   128  134  132  124  128  133    0
1113  0.0     6    1    3    8    6    0  134
      1.0   128  134  132  127  129  134    0
1114  0.0     6    1    3    8    6    0  134
      1.0   128  134  132  127  129  134    0
1115  0.0     6    1    3   11    6    0  134
      1.0   128  134  132  124  129  134    0

[2220 rows x 7 columns]

In [33]:
merge.pivot_table(index=["StateHoliday","Open"],values=["Store"],
               columns=["DayOfWeek"],aggfunc=pd.Series.nunique,fill_value=0)

                   Store
DayOfWeek              1     2     3     4     5     6     7
StateHoliday Open
0            False   120    95    99   138    89    89  1105
             True   1115  1115  1115  1115  1115  1115    33
1            False  1084  1097  1099  1099  1098   393   307
             True     35    17    20   148    46     6     2
2            False  1084     0     0     0  1099     0     0
             True     32     0     0     0    17     0     0
3            False     0     0  1098  1098   916     0     0
             True      0     0    17    19    19     0     0

In [6]:
missing = list([  13,   20,   22,   32,   36,   41,   46,   51,   52,   58,   72,
         76,   81,   89,   99,  100,  108,  113,  115,  127,  129,  132,
        136,  137,  139,  144,  145,  149,  155,  159,  164,  165,  172,
        174,  181,  183,  186,  190,  191,  192,  204,  215,  218,  231,
        243,  258,  263,  275,  277,  279,  283,  284,  287,  288,  298,
        306,  317,  342,  345,  348,  365,  385,  399,  407,  412,  413,
        420,  427,  428,  429,  430,  434,  457,  471,  477,  485,  490,
        492,  498,  500,  501,  512,  514,  518,  522,  534,  539,  540,
        542,  547,  555,  571,  573,  575,  587,  598,  604,  611,  612,
        619,  620,  629,  633,  636,  637,  638,  644,  646,  650,  660,
        669,  670,  671,  677,  684,  694,  701,  702,  706,  710,  711,
        712,  716,  719,  736,  739,  744,  750,  766,  771,  775,  778,
        797,  804,  805,  806,  815,  820,  825,  842,  851,  858,  859,
        879,  884,  890,  893,  900,  902,  903,  904,  909,  915,  919,
        920,  932,  941,  952,  974,  977,  988,  989, 1000, 1004, 1009,
       1012, 1019, 1027, 1038, 1041, 1049, 1056, 1065, 1067, 1080, 1092,
       1094, 1102, 1104, 1107, 1109])

In [7]:
check = train[train.Store.isin(missing)]
check.head()

,Date,Customers,DayOfWeek,Open,Promo,Sales,SchoolHoliday,StateHoliday,Store
5,2014-04-28,759.0,1,1.0,1.0,7544.0,0.0,0,514
8,2014-05-05,775.0,1,1.0,1.0,7989.0,0.0,0,514
10,2014-04-21,0.0,1,0.0,0.0,0.0,1.0,b,514
15,2014-04-14,819.0,1,1.0,1.0,9219.0,1.0,0,514
21,2014-06-02,764.0,1,1.0,1.0,8219.0,0.0,0,514

In [40]:
check.pivot_table(index=["Store","Open"],values=["Date"],
                  columns=["DayOfWeek"],aggfunc=pd.Series.nunique,fill_value=0)

           Date
DayOfWeek     1    2    3   4    5    6    7
Store Open
13    0.0     7    2    3  12    5    0  108
      1.0   101  106  105  97  104  108    0
20    0.0     7    2    4  12    6    0  108
      1.0   101  106  104  97  103  108    0
22    0.0     7    2    3  14    5    0  108
      1.0   101  106  105  95  104  108    0
32    0.0     7    2    3  12    5    0  108
      1.0   101  106  105  97  104  108    0
36    0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
41    0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
46    0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
51    0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
52    0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
58    0.0     7    2    3  10    5    0  108
      1.0   101  106  105  99  104  108    0
72    0.0     7    2    3  10    5    0  108
      1.0   101  106  105  99  104  108    0
76    0.0     7    2    3  10    5    0  108
      1.0   101  106  105  99  104  108    0
81    0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
89    0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
99    0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
...         ...  ...  ...  ..  ...  ...  ...
1019  0.0     7    2    3  10    5    0  108
      1.0   101  106  105  99  104  108    0
1027  0.0     7    2    3  10    5    0  108
      1.0   101  106  105  99  104  108    0
1038  0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
1041  0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
1049  0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
1056  0.0     7    2    3  10    5    0  108
      1.0   101  106  105  99  104  108    0
1065  0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
1067  0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
1080  0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
1092  0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
1094  0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
1102  0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
1104  0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0
1107  0.0     7    2    3  10    5    0  108
      1.0   101  106  105  99  104  108    0
1109  0.0     7    2    3  11    5    0  108
      1.0   101  106  105  98  104  108    0

[362 rows x 7 columns]

In [41]:
investigate = check.pivot_table(index=["Store","Open"],values=["Date"],columns=["DayOfWeek"],aggfunc=pd.Series.nunique,fill_value=0)

In [42]:
#investigate.to_csv("open_pattern.csv", index=False)

In [66]:
check[check["DayOfWeek"]==1][check["Open"]==0][check["Store"]==512]

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Date,Customers,DayOfWeek,Open,Promo,Sales,SchoolHoliday,StateHoliday,Store
4941,2013-01-14,0.0,1,0.0,0.0,0.0,0.0,0,512
4945,2013-01-07,0.0,1,0.0,1.0,0.0,0.0,0,512

In [73]:
train["Open"][train["Store"]==512] = train["Open"].fillna(1)

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [75]:
train["Open"][train["DayOfWeek"]==6] = train["Open"].fillna(1)

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [76]:
train["Open"][train["DayOfWeek"]==7] = train["Open"].fillna(0)

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [79]:
train[train["Sales"].isna()==True]

,Date,Customers,DayOfWeek,Open,Promo,Sales,SchoolHoliday,StateHoliday,Store
1017209,2014-07-01,NaN,2,NaN,NaN,NaN,NaN,NaN,13
1017210,2014-07-02,NaN,3,NaN,NaN,NaN,NaN,NaN,13
1017211,2014-07-03,NaN,4,NaN,NaN,NaN,NaN,NaN,13
1017212,2014-07-04,NaN,5,NaN,NaN,NaN,NaN,NaN,13
1017213,2014-07-05,NaN,6,1.0,NaN,NaN,NaN,NaN,13
1017214,2014-07-06,NaN,7,0.0,NaN,NaN,NaN,NaN,13
1017215,2014-07-07,NaN,1,NaN,NaN,NaN,NaN,NaN,13
1017216,2014-07-08,NaN,2,NaN,NaN,NaN,NaN,NaN,13
1017217,2014-07-09,NaN,3,NaN,NaN,NaN,NaN,NaN,13
1017218,2014-07-10,NaN,4,NaN,NaN,NaN,NaN,NaN,13
1017219,2014-07-11,NaN,5,NaN,NaN,NaN,NaN,NaN,13
1017220,2014-07-12,NaN,6,1.0,NaN,NaN,NaN,NaN,13
1017221,2014-07-13,NaN,7,0.0,NaN,NaN,NaN,NaN,13
1017222,2014-07-14,NaN,1,NaN,NaN,NaN,NaN,NaN,13
1017223,2014-07-15,NaN,2,NaN,NaN,NaN,NaN,NaN,13
1017224,2014-07-16,NaN,3,NaN,NaN,NaN,NaN,NaN,13
1017225,2014-07-17,NaN,4,NaN,NaN,NaN,NaN,NaN,13
1017226,2014-07-18,NaN,5,NaN,NaN,NaN,NaN,NaN,13
1017227,2014-07-19,NaN,6,1.0,NaN,NaN,NaN,NaN,13
1017228,2014-07-20,NaN,7,0.0,NaN,NaN,NaN,NaN,13
1017229,2014-07-21,NaN,1,NaN,NaN,NaN,NaN,NaN,13
1017230,2014-07-22,NaN,2,NaN,NaN,NaN,NaN,NaN,13
1017231,2014-07-23,NaN,3,NaN,NaN,NaN,NaN,NaN,13
1017232,2014-07-24,NaN,4,NaN,NaN,NaN,NaN,NaN,13
1017233,2014-07-25,NaN,5,NaN,NaN,NaN,NaN,NaN,13
1017234,2014-07-26,NaN,6,1.0,NaN,NaN,NaN,NaN,13
1017235,2014-07-27,NaN,7,0.0,NaN,NaN,NaN,NaN,13
1017236,2014-07-28,NaN,1,NaN,NaN,NaN,NaN,NaN,13
1017237,2014-07-29,NaN,2,NaN,NaN,NaN,NaN,NaN,13
1017238,2014-07-30,NaN,3,NaN,NaN,NaN,NaN,NaN,13
...,...,...,...,...,...,...,...,...,...
1050300,2014-12-02,NaN,2,NaN,NaN,NaN,NaN,NaN,1109
1050301,2014-12-03,NaN,3,NaN,NaN,NaN,NaN,NaN,1109
1050302,2014-12-04,NaN,4,NaN,NaN,NaN,NaN,NaN,1109
1050303,2014-12-05,NaN,5,NaN,NaN,NaN,NaN,NaN,1109
1050304,2014-12-06,NaN,6,1.0,NaN,NaN,NaN,NaN,1109
1050305,2014-12-07,NaN,7,0.0,NaN,NaN,NaN,NaN,1109
1050306,2014-12-08,NaN,1,NaN,NaN,NaN,NaN,NaN,1109
1050307,2014-12-09,NaN,2,NaN,NaN,NaN,NaN,NaN,1109
1050308,2014-12-10,NaN,3,NaN,NaN,NaN,NaN,NaN,1109
1050309,2014-12-11,NaN,4,NaN,NaN,NaN,NaN,NaN,1109
1050310,2014-12-12,NaN,5,NaN,NaN,NaN,NaN,NaN,1109
1050311,2014-12-13,NaN,6,1.0,NaN,NaN,NaN,NaN,1109
1050312,2014-12-14,NaN,7,0.0,NaN,NaN,NaN,NaN,1109
1050313,2014-12-15,NaN,1,NaN,NaN,NaN,NaN,NaN,1109
1050314,2014-12-16,NaN,2,NaN,NaN,NaN,NaN,NaN,1109
1050315,2014-12-17,NaN,3,NaN,NaN,NaN,NaN,NaN,1109
1050316,2014-12-18,NaN,4,NaN,NaN,NaN,NaN,NaN,1109
1050317,2014-12-19,NaN,5,NaN,NaN,NaN,NaN,NaN,1109
1050318,2014-12-20,NaN,6,1.0,NaN,NaN,NaN,NaN,1109
1050319,2014-12-21,NaN,7,0.0,NaN,NaN,NaN,NaN,1109
1050320,2014-12-22,NaN,1,NaN,NaN,NaN,NaN,NaN,1109
1050321,2014-12-23,NaN,2,NaN,NaN,NaN,NaN,NaN,1109
1050322,2014-12-24,NaN,3,NaN,NaN,NaN,NaN,NaN,1109
1050323,2014-12-25,NaN,4,NaN,NaN,NaN,NaN,NaN,1109
1050324,2014-12-26,NaN,5,NaN,NaN,NaN,NaN,NaN,1109
1050325,2014-12-27,NaN,6,1.0,NaN,NaN,NaN,NaN,1109
1050326,2014-12-28,NaN,7,0.0,NaN,NaN,NaN,NaN,1109
1050327,2014-12-29,NaN,1,NaN,NaN,NaN,NaN,NaN,1109
1050328,2014-12-30,NaN,2,NaN,NaN,NaN,NaN,NaN,1109
1050329,2014-12-31,NaN,3,NaN,NaN,NaN,NaN,NaN,1109

In [91]:
check.pivot_table(index=["Date"],values=["Store"],
                  columns=["SchoolHoliday"],aggfunc=pd.Series.nunique,fill_value=0)

              Store
SchoolHoliday   0.0  1.0
Date
2013-01-01        0  180
2013-01-02        0  181
2013-01-03        0  181
2013-01-04        0  181
2013-01-05      181    0
2013-01-06      181    0
2013-01-07      181    0
2013-01-08      181    0
2013-01-09      181    0
2013-01-10      181    0
2013-01-11      181    0
2013-01-12      181    0
2013-01-13      181    0
2013-01-14      181    0
2013-01-15      181    0
2013-01-16      181    0
2013-01-17      181    0
2013-01-18      181    0
2013-01-19      181    0
2013-01-20      181    0
2013-01-21      181    0
2013-01-22      181    0
2013-01-23      181    0
2013-01-24      181    0
2013-01-25      181    0
2013-01-26      181    0
2013-01-27      181    0
2013-01-28      181    0
2013-01-29      181    0
2013-01-30      181    0
...             ...  ...
2015-07-02      181    0
2015-07-03      181    0
2015-07-04      181    0
2015-07-05      181    0
2015-07-06      181    0
2015-07-07      181    0
2015-07-08      181    0
2015-07-09      181    0
2015-07-10      181    0
2015-07-11      181    0
2015-07-12      181    0
2015-07-13      181    0
2015-07-14      181    0
2015-07-15      181    0
2015-07-16      181    0
2015-07-17      181    0
2015-07-18      181    0
2015-07-19      181    0
2015-07-20      180    1
2015-07-21      180    1
2015-07-22      180    1
2015-07-23      180    1
2015-07-24      180    1
2015-07-25      181    0
2015-07-26      181    0
2015-07-27      180    1
2015-07-28      180    1
2015-07-29      180    1
2015-07-30      180    1
2015-07-31      180    1

[942 rows x 2 columns]

In [90]:
#investigate.to_csv("school_pattern.csv", index=False)

In [93]:
check[check["SchoolHoliday"]==1][check["Date"]=='2013-01-01']

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Date,Customers,DayOfWeek,Open,Promo,Sales,SchoolHoliday,StateHoliday,Store
149519,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,13
152205,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,89
152635,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,76
152781,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,72
153045,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,81
153784,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,99
154219,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,115
154495,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,127
154779,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,113
156252,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,100
157179,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,108
159261,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,51
159630,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,36
159701,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,46
159828,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,41
160438,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,32
160474,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,22
160514,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,20
163034,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,58
165481,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,52
207040,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,904
207179,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,571
207203,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,903
207984,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,575
208052,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,573
209438,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,540
210979,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,909
211180,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,547
211405,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,542
211516,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,555
...,...,...,...,...,...,...,...,...,...
272118,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,174
274385,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,1107
275424,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,342
275979,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,1012
276103,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,317
276105,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,1019
276401,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,1009
276826,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,989
277116,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,345
277267,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,348
278410,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,306
279226,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,1027
279333,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,1038
280269,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,385
281091,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,407
281218,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,412
281551,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,399
282171,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,1000
282605,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,1004
282843,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,365
283504,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,413
285320,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,287
285444,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,429
285648,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,430
285729,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,284
288257,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,288
289346,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,298
289565,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,420
289799,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,428
289906,2013-01-01,0.0,2,0.0,0.0,0.0,1.0,a,427

In [8]:
check["Date"][check["Store"]==13][check["SchoolHoliday"]==1].unique()

array(['2015-06-01', '2015-02-16', '2014-06-16', '2015-01-05',
       '2015-03-30', '2015-04-06', '2014-04-14', '2013-03-25',
       '2013-04-01', '2013-05-27', '2013-02-11', '2013-12-23',
       '2013-12-30', '2014-03-03', '2014-04-21', '2013-08-05',
       '2013-08-12', '2013-08-19', '2013-08-26', '2013-09-02',
       '2013-09-09', '2013-10-28', '2013-08-13', '2013-08-27',
       '2013-08-20', '2013-08-06', '2013-10-29', '2013-12-31',
       '2013-12-24', '2013-09-10', '2013-09-03', '2013-02-12',
       '2013-03-26', '2013-04-02', '2013-01-01', '2013-05-28',
       '2013-05-21', '2014-04-22', '2014-04-15', '2014-06-17',
       '2014-06-10', '2014-03-04', '2015-02-17', '2015-04-07',
       '2015-03-31', '2015-05-26', '2015-06-02', '2015-04-08',
       '2015-04-01', '2015-02-18', '2015-06-03', '2015-05-27',
       '2013-01-02', '2013-02-13', '2013-03-27', '2013-04-03',
       '2013-05-22', '2014-03-05', '2014-01-01', '2014-06-18',
       '2014-06-11', '2014-04-23', '2014-04-16', '2013-12-25',
       '2013-08-28', '2013-08-21', '2013-08-14', '2013-08-07',
       '2013-07-31', '2013-09-04', '2013-05-29', '2013-09-11',
       '2013-10-30', '2013-02-14', '2013-03-28', '2013-04-04',
       '2013-01-03', '2013-05-23', '2013-05-30', '2015-06-04',
       '2015-05-28', '2013-12-26', '2014-01-02', '2013-10-31',
       '2013-08-01', '2013-08-08', '2013-08-22', '2013-08-29',
       '2013-09-05', '2013-08-15', '2014-03-06', '2015-02-19',
       '2015-04-09', '2015-04-02', '2014-04-17', '2014-04-24',
       '2014-06-12', '2014-06-19', '2015-01-01', '2015-04-10',
       '2015-04-03', '2015-02-20', '2015-01-02', '2015-06-05',
       '2015-05-29', '2014-06-20', '2014-06-13', '2013-12-27',
       '2014-01-03', '2013-09-06', '2013-08-30', '2014-04-25',
       '2014-04-18', '2014-03-07', '2013-08-23', '2013-08-16',
       '2013-08-02', '2013-08-09', '2013-02-15', '2013-01-04',
       '2013-05-31', '2013-04-05', '2013-03-29', '2013-05-24'],
      dtype=object)

In [9]:
len(check["Date"][check["Store"]==13][check["SchoolHoliday"]==1].unique())

124

In [10]:
len(train["Date"][train["Store"]==1][train["SchoolHoliday"]==1].unique())

193

In [4]:
train["Date"][train["Store"]==1][train["SchoolHoliday"]==1].unique()

array(['2014-10-20', '2013-07-15', '2013-12-30', '2013-07-08',
       '2014-01-06', '2014-04-21', '2014-10-27', '2013-07-29',
       '2013-08-05', '2013-07-22', '2015-04-06', '2015-03-30',
       '2013-12-23', '2014-12-29', '2014-12-22', '2015-01-05',
       '2013-01-07', '2014-04-14', '2014-07-28', '2014-08-25',
       '2014-09-01', '2014-08-04', '2014-08-18', '2013-10-21',
       '2015-07-27', '2013-04-01', '2013-10-14', '2014-08-11',
       '2013-03-25', '2013-08-12', '2014-08-05', '2013-01-01',
       '2013-03-26', '2014-07-29', '2014-09-02', '2013-01-08',
       '2014-04-15', '2014-08-12', '2013-04-02', '2014-08-26',
       '2014-10-21', '2014-08-19', '2014-10-28', '2014-04-22',
       '2013-10-22', '2015-03-31', '2013-12-24', '2013-07-23',
       '2015-04-07', '2013-07-09', '2013-07-16', '2013-12-31',
       '2014-01-07', '2013-10-15', '2013-08-13', '2013-07-30',
       '2013-08-06', '2014-12-30', '2014-12-23', '2015-01-06',
       '2015-07-28', '2013-03-27', '2013-10-23', '2013-04-03',
       '2013-10-16', '2014-04-23', '2014-04-16', '2013-07-31',
       '2013-08-14', '2013-08-07', '2014-01-01', '2013-12-25',
       '2013-07-17', '2014-01-08', '2013-07-10', '2013-07-24',
       '2014-12-24', '2014-12-31', '2015-01-07', '2014-10-22',
       '2014-10-29', '2013-01-02', '2013-01-09', '2015-04-08',
       '2015-04-01', '2015-07-29', '2014-08-06', '2014-07-30',
       '2014-08-27', '2014-08-20', '2014-09-03', '2014-08-13',
       '2014-08-14', '2013-07-11', '2013-10-24', '2014-01-09',
       '2014-01-02', '2014-08-21', '2013-08-15', '2013-04-04',
       '2013-08-01', '2013-08-08', '2015-07-30', '2014-08-07',
       '2015-04-02', '2013-12-26', '2013-07-18', '2013-07-25',
       '2013-03-28', '2015-04-09', '2013-01-03', '2014-10-30',
       '2014-04-17', '2013-01-10', '2014-10-23', '2014-04-24',
       '2015-01-08', '2014-08-28', '2013-10-17', '2014-12-25',
       '2015-01-01', '2014-09-04', '2013-01-11', '2013-01-04',
       '2013-03-29', '2013-04-05', '2013-07-26', '2013-07-12',
       '2013-07-19', '2013-08-09', '2013-08-16', '2013-08-02',
       '2015-07-31', '2013-12-27', '2015-04-03', '2014-01-10',
       '2014-01-03', '2014-10-31', '2014-04-25', '2014-04-18',
       '2014-12-26', '2015-01-09', '2014-10-24', '2015-01-02',
       '2014-08-15', '2014-08-22', '2013-10-18', '2014-08-08',
       '2014-08-01', '2013-10-25', '2014-08-29', '2014-09-05',
       '2015-04-10', '2014-10-25', '2014-08-23', '2014-08-30',
       '2014-08-09', '2014-08-02', '2014-08-16', '2015-04-04',
       '2014-12-27', '2015-01-03', '2013-01-05', '2013-08-03',
       '2013-08-10', '2014-04-19', '2013-07-13', '2014-01-04',
       '2013-07-06', '2013-07-27', '2013-12-28', '2013-07-20',
       '2013-10-19', '2013-07-21', '2015-04-05', '2014-01-05',
       '2013-07-07', '2013-12-29', '2013-07-14', '2013-10-20',
       '2013-08-11', '2013-07-28', '2013-08-04', '2014-10-26',
       '2014-04-20', '2014-08-03', '2014-08-10', '2014-08-31',
       '2014-08-17', '2014-08-24', '2015-01-04', '2013-01-06',
       '2014-12-28'], dtype=object)

In [95]:
holiday = list(['2015-06-01', '2015-02-16', '2014-06-16', '2015-01-05',
       '2015-03-30', '2015-04-06', '2014-04-14', '2013-03-25',
       '2013-04-01', '2013-05-27', '2013-02-11', '2013-12-23',
       '2013-12-30', '2014-03-03', '2014-04-21', '2013-08-05',
       '2013-08-12', '2013-08-19', '2013-08-26', '2013-09-02',
       '2013-09-09', '2013-10-28', '2013-08-13', '2013-08-27',
       '2013-08-20', '2013-08-06', '2013-10-29', '2013-12-31',
       '2013-12-24', '2013-09-10', '2013-09-03', '2013-02-12',
       '2013-03-26', '2013-04-02', '2013-01-01', '2013-05-28',
       '2013-05-21', '2014-04-22', '2014-04-15', '2014-06-17',
       '2014-06-10', '2014-03-04', '2015-02-17', '2015-04-07',
       '2015-03-31', '2015-05-26', '2015-06-02', '2015-04-08',
       '2015-04-01', '2015-02-18', '2015-06-03', '2015-05-27',
       '2013-01-02', '2013-02-13', '2013-03-27', '2013-04-03',
       '2013-05-22', '2014-03-05', '2014-01-01', '2014-06-18',
       '2014-06-11', '2014-04-23', '2014-04-16', '2013-12-25',
       '2013-08-28', '2013-08-21', '2013-08-14', '2013-08-07',
       '2013-07-31', '2013-09-04', '2013-05-29', '2013-09-11',
       '2013-10-30', '2013-02-14', '2013-03-28', '2013-04-04',
       '2013-01-03', '2013-05-23', '2013-05-30', '2015-06-04',
       '2015-05-28', '2013-12-26', '2014-01-02', '2013-10-31',
       '2013-08-01', '2013-08-08', '2013-08-22', '2013-08-29',
       '2013-09-05', '2013-08-15', '2014-03-06', '2015-02-19',
       '2015-04-09', '2015-04-02', '2014-04-17', '2014-04-24',
       '2014-06-12', '2014-06-19', '2015-01-01', '2015-04-10',
       '2015-04-03', '2015-02-20', '2015-01-02', '2015-06-05',
       '2015-05-29', '2014-06-20', '2014-06-13', '2013-12-27',
       '2014-01-03', '2013-09-06', '2013-08-30', '2014-04-25',
       '2014-04-18', '2014-03-07', '2013-08-23', '2013-08-16',
       '2013-08-02', '2013-08-09', '2013-02-15', '2013-01-04',
       '2013-05-31', '2013-04-05', '2013-03-29', '2013-05-24'])

In [117]:
train["SchoolHoliday"][train.Date.isin(holiday)]= train["SchoolHoliday"].fillna(1)
train["SchoolHoliday"][~train.Date.isin(holiday)]= train["SchoolHoliday"].fillna(0)

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [99]:
124*1115

138260

In [118]:
train[train["Sales"].isna()==True][train["SchoolHoliday"].isna()==True]

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [Date, Customers, DayOfWeek, Open, Promo, Sales, SchoolHoliday, StateHoliday, Store]
Index: []

In [119]:
train[train["SchoolHoliday"].isna()==True].count()

Date             0
Customers        0
DayOfWeek        0
Open             0
Promo            0
Sales            0
SchoolHoliday    0
StateHoliday     0
Store            0
dtype: int64

In [123]:
train["SchoolHoliday"][train["SchoolHoliday"].isna()==True]

Series([], Name: SchoolHoliday, dtype: float64)

In [124]:
train["SchoolHoliday"] = train["SchoolHoliday"].astype("int")

In [125]:
train[train["Sales"].isna()==True]

,Date,Customers,DayOfWeek,Open,Promo,Sales,SchoolHoliday,StateHoliday,Store
1017209,2014-07-01,NaN,2,NaN,NaN,NaN,0,NaN,13
1017210,2014-07-02,NaN,3,NaN,NaN,NaN,0,NaN,13
1017211,2014-07-03,NaN,4,NaN,NaN,NaN,0,NaN,13
1017212,2014-07-04,NaN,5,NaN,NaN,NaN,0,NaN,13
1017213,2014-07-05,NaN,6,1.0,NaN,NaN,0,NaN,13
1017214,2014-07-06,NaN,7,0.0,NaN,NaN,0,NaN,13
1017215,2014-07-07,NaN,1,NaN,NaN,NaN,0,NaN,13
1017216,2014-07-08,NaN,2,NaN,NaN,NaN,0,NaN,13
1017217,2014-07-09,NaN,3,NaN,NaN,NaN,0,NaN,13
1017218,2014-07-10,NaN,4,NaN,NaN,NaN,0,NaN,13
1017219,2014-07-11,NaN,5,NaN,NaN,NaN,0,NaN,13
1017220,2014-07-12,NaN,6,1.0,NaN,NaN,0,NaN,13
1017221,2014-07-13,NaN,7,0.0,NaN,NaN,0,NaN,13
1017222,2014-07-14,NaN,1,NaN,NaN,NaN,0,NaN,13
1017223,2014-07-15,NaN,2,NaN,NaN,NaN,0,NaN,13
1017224,2014-07-16,NaN,3,NaN,NaN,NaN,0,NaN,13
1017225,2014-07-17,NaN,4,NaN,NaN,NaN,0,NaN,13
1017226,2014-07-18,NaN,5,NaN,NaN,NaN,0,NaN,13
1017227,2014-07-19,NaN,6,1.0,NaN,NaN,0,NaN,13
1017228,2014-07-20,NaN,7,0.0,NaN,NaN,0,NaN,13
1017229,2014-07-21,NaN,1,NaN,NaN,NaN,0,NaN,13
1017230,2014-07-22,NaN,2,NaN,NaN,NaN,0,NaN,13
1017231,2014-07-23,NaN,3,NaN,NaN,NaN,0,NaN,13
1017232,2014-07-24,NaN,4,NaN,NaN,NaN,0,NaN,13
1017233,2014-07-25,NaN,5,NaN,NaN,NaN,0,NaN,13
1017234,2014-07-26,NaN,6,1.0,NaN,NaN,0,NaN,13
1017235,2014-07-27,NaN,7,0.0,NaN,NaN,0,NaN,13
1017236,2014-07-28,NaN,1,NaN,NaN,NaN,0,NaN,13
1017237,2014-07-29,NaN,2,NaN,NaN,NaN,0,NaN,13
1017238,2014-07-30,NaN,3,NaN,NaN,NaN,0,NaN,13
...,...,...,...,...,...,...,...,...,...
1050300,2014-12-02,NaN,2,NaN,NaN,NaN,0,NaN,1109
1050301,2014-12-03,NaN,3,NaN,NaN,NaN,0,NaN,1109
1050302,2014-12-04,NaN,4,NaN,NaN,NaN,0,NaN,1109
1050303,2014-12-05,NaN,5,NaN,NaN,NaN,0,NaN,1109
1050304,2014-12-06,NaN,6,1.0,NaN,NaN,0,NaN,1109
1050305,2014-12-07,NaN,7,0.0,NaN,NaN,0,NaN,1109
1050306,2014-12-08,NaN,1,NaN,NaN,NaN,0,NaN,1109
1050307,2014-12-09,NaN,2,NaN,NaN,NaN,0,NaN,1109
1050308,2014-12-10,NaN,3,NaN,NaN,NaN,0,NaN,1109
1050309,2014-12-11,NaN,4,NaN,NaN,NaN,0,NaN,1109
1050310,2014-12-12,NaN,5,NaN,NaN,NaN,0,NaN,1109
1050311,2014-12-13,NaN,6,1.0,NaN,NaN,0,NaN,1109
1050312,2014-12-14,NaN,7,0.0,NaN,NaN,0,NaN,1109
1050313,2014-12-15,NaN,1,NaN,NaN,NaN,0,NaN,1109
1050314,2014-12-16,NaN,2,NaN,NaN,NaN,0,NaN,1109
1050315,2014-12-17,NaN,3,NaN,NaN,NaN,0,NaN,1109
1050316,2014-12-18,NaN,4,NaN,NaN,NaN,0,NaN,1109
1050317,2014-12-19,NaN,5,NaN,NaN,NaN,0,NaN,1109
1050318,2014-12-20,NaN,6,1.0,NaN,NaN,0,NaN,1109
1050319,2014-12-21,NaN,7,0.0,NaN,NaN,0,NaN,1109
1050320,2014-12-22,NaN,1,NaN,NaN,NaN,0,NaN,1109
1050321,2014-12-23,NaN,2,NaN,NaN,NaN,0,NaN,1109
1050322,2014-12-24,NaN,3,NaN,NaN,NaN,0,NaN,1109
1050323,2014-12-25,NaN,4,NaN,NaN,NaN,0,NaN,1109
1050324,2014-12-26,NaN,5,NaN,NaN,NaN,0,NaN,1109
1050325,2014-12-27,NaN,6,1.0,NaN,NaN,0,NaN,1109
1050326,2014-12-28,NaN,7,0.0,NaN,NaN,0,NaN,1109
1050327,2014-12-29,NaN,1,NaN,NaN,NaN,0,NaN,1109
1050328,2014-12-30,NaN,2,NaN,NaN,NaN,0,NaN,1109
1050329,2014-12-31,NaN,3,NaN,NaN,NaN,0,NaN,1109

In [130]:
train["Date"][train["Store"]==1][train["StateHoliday"]=='a'].unique()

array(['2013-05-20', '2014-06-09', '2015-05-25', '2013-01-01',
       '2014-01-01', '2013-05-01', '2014-06-19', '2015-06-04',
       '2015-05-14', '2014-05-29', '2014-05-01', '2013-10-03',
       '2013-05-09', '2013-05-30', '2015-01-01', '2014-10-03',
       '2015-05-01'], dtype=object)

In [128]:
c = list(['2013-12-25', '2013-12-26', '2014-12-25', '2014-12-26'])

In [131]:
b = list(['2014-04-21', '2015-04-06', '2013-04-01', '2013-03-29',
       '2015-04-03', '2014-04-18'])

In [132]:
a = list(['2013-05-20', '2014-06-09', '2015-05-25', '2013-01-01',
       '2014-01-01', '2013-05-01', '2014-06-19', '2015-06-04',
       '2015-05-14', '2014-05-29', '2014-05-01', '2013-10-03',
       '2013-05-09', '2013-05-30', '2015-01-01', '2014-10-03',
       '2015-05-01'])

In [135]:
train[train["StateHoliday"].isna()==True].count()

Date             33121
Customers            0
DayOfWeek        33121
Open              9492
Promo                0
Sales                0
SchoolHoliday    33121
StateHoliday         0
Store            33121
dtype: int64

In [136]:
train["StateHoliday"][train.Date.isin(a)]= train["StateHoliday"].fillna('a')
train["StateHoliday"][train.Date.isin(b)]= train["StateHoliday"].fillna('b')
train["StateHoliday"][train.Date.isin(c)]= train["StateHoliday"].fillna('c')

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [137]:
train[train["StateHoliday"].isna()==True].count()

Date             32580
Customers            0
DayOfWeek        32580
Open              9489
Promo                0
Sales                0
SchoolHoliday    32580
StateHoliday         0
Store            32580
dtype: int64

In [139]:
train[train["StateHoliday"].isna()==True][train["Date"]=='2013-12-25']

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [Date, Customers, DayOfWeek, Open, Promo, Sales, SchoolHoliday, StateHoliday, Store]
Index: []

In [140]:
train["StateHoliday"]= train["StateHoliday"].fillna(0)

In [142]:
train[train["StateHoliday"].isna()==True].count()

Date             0
Customers        0
DayOfWeek        0
Open             0
Promo            0
Sales            0
SchoolHoliday    0
StateHoliday     0
Store            0
dtype: int64

In [144]:
train[train["Sales"].isna()==True][train["Date"]=='2014-12-25']

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Date,Customers,DayOfWeek,Open,Promo,Sales,SchoolHoliday,StateHoliday,Store
1017386,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,13
1017570,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,20
1017754,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,22
1017938,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,32
1018122,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,36
1018306,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,41
1018490,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,46
1018674,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,51
1018858,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,52
1019042,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,58
1019226,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,72
1019410,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,76
1019594,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,81
1019778,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,89
1019962,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,99
1020146,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,100
1020330,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,108
1020514,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,113
1020698,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,115
1020882,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,127
1021066,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,129
1021250,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,132
1021434,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,136
1021618,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,137
1021802,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,139
1021986,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,144
1022170,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,145
1022354,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,149
1022538,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,155
1022722,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,159
...,...,...,...,...,...,...,...,...,...
1044986,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,904
1045170,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,909
1045354,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,915
1045538,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,919
1045722,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,920
1045906,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,932
1046090,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,941
1046274,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,952
1046458,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,974
1046642,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,977
1046827,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,989
1047011,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1000
1047195,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1004
1047379,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1009
1047563,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1012
1047747,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1019
1047931,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1027
1048115,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1038
1048299,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1041
1048483,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1049
1048667,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1056
1048851,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1065
1049035,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1067
1049219,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1080
1049403,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1092
1049587,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1094
1049771,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1102
1049955,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1104
1050139,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1107
1050323,2014-12-25,NaN,4,NaN,NaN,NaN,0,c,1109

In [145]:
train[train["Open"].isna()==True].count()

Date             23629
Customers            0
DayOfWeek        23629
Open                 0
Promo                0
Sales                0
SchoolHoliday    23629
StateHoliday     23629
Store            23629
dtype: int64

In [146]:
train["Open"][train["StateHoliday"]==0]= train["Open"].fillna(1)

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [147]:
train[train["Open"].isna()==True].count()

Date             538
Customers          0
DayOfWeek        538
Open               0
Promo              0
Sales              0
SchoolHoliday    538
StateHoliday     538
Store            538
dtype: int64

In [148]:
train["Open"]= train["Open"].fillna(0)

In [149]:
train[train["Open"].isna()==True].count()

Date             0
Customers        0
DayOfWeek        0
Open             0
Promo            0
Sales            0
SchoolHoliday    0
StateHoliday     0
Store            0
dtype: int64

In [150]:
train["Open"] = train["Open"].astype("int")

In [151]:
train[train["Sales"].isna()==True]

,Date,Customers,DayOfWeek,Open,Promo,Sales,SchoolHoliday,StateHoliday,Store
1017209,2014-07-01,NaN,2,1,NaN,NaN,0,0,13
1017210,2014-07-02,NaN,3,1,NaN,NaN,0,0,13
1017211,2014-07-03,NaN,4,1,NaN,NaN,0,0,13
1017212,2014-07-04,NaN,5,1,NaN,NaN,0,0,13
1017213,2014-07-05,NaN,6,1,NaN,NaN,0,0,13
1017214,2014-07-06,NaN,7,0,NaN,NaN,0,0,13
1017215,2014-07-07,NaN,1,1,NaN,NaN,0,0,13
1017216,2014-07-08,NaN,2,1,NaN,NaN,0,0,13
1017217,2014-07-09,NaN,3,1,NaN,NaN,0,0,13
1017218,2014-07-10,NaN,4,1,NaN,NaN,0,0,13
1017219,2014-07-11,NaN,5,1,NaN,NaN,0,0,13
1017220,2014-07-12,NaN,6,1,NaN,NaN,0,0,13
1017221,2014-07-13,NaN,7,0,NaN,NaN,0,0,13
1017222,2014-07-14,NaN,1,1,NaN,NaN,0,0,13
1017223,2014-07-15,NaN,2,1,NaN,NaN,0,0,13
1017224,2014-07-16,NaN,3,1,NaN,NaN,0,0,13
1017225,2014-07-17,NaN,4,1,NaN,NaN,0,0,13
1017226,2014-07-18,NaN,5,1,NaN,NaN,0,0,13
1017227,2014-07-19,NaN,6,1,NaN,NaN,0,0,13
1017228,2014-07-20,NaN,7,0,NaN,NaN,0,0,13
1017229,2014-07-21,NaN,1,1,NaN,NaN,0,0,13
1017230,2014-07-22,NaN,2,1,NaN,NaN,0,0,13
1017231,2014-07-23,NaN,3,1,NaN,NaN,0,0,13
1017232,2014-07-24,NaN,4,1,NaN,NaN,0,0,13
1017233,2014-07-25,NaN,5,1,NaN,NaN,0,0,13
1017234,2014-07-26,NaN,6,1,NaN,NaN,0,0,13
1017235,2014-07-27,NaN,7,0,NaN,NaN,0,0,13
1017236,2014-07-28,NaN,1,1,NaN,NaN,0,0,13
1017237,2014-07-29,NaN,2,1,NaN,NaN,0,0,13
1017238,2014-07-30,NaN,3,1,NaN,NaN,0,0,13
...,...,...,...,...,...,...,...,...,...
1050300,2014-12-02,NaN,2,1,NaN,NaN,0,0,1109
1050301,2014-12-03,NaN,3,1,NaN,NaN,0,0,1109
1050302,2014-12-04,NaN,4,1,NaN,NaN,0,0,1109
1050303,2014-12-05,NaN,5,1,NaN,NaN,0,0,1109
1050304,2014-12-06,NaN,6,1,NaN,NaN,0,0,1109
1050305,2014-12-07,NaN,7,0,NaN,NaN,0,0,1109
1050306,2014-12-08,NaN,1,1,NaN,NaN,0,0,1109
1050307,2014-12-09,NaN,2,1,NaN,NaN,0,0,1109
1050308,2014-12-10,NaN,3,1,NaN,NaN,0,0,1109
1050309,2014-12-11,NaN,4,1,NaN,NaN,0,0,1109
1050310,2014-12-12,NaN,5,1,NaN,NaN,0,0,1109
1050311,2014-12-13,NaN,6,1,NaN,NaN,0,0,1109
1050312,2014-12-14,NaN,7,0,NaN,NaN,0,0,1109
1050313,2014-12-15,NaN,1,1,NaN,NaN,0,0,1109
1050314,2014-12-16,NaN,2,1,NaN,NaN,0,0,1109
1050315,2014-12-17,NaN,3,1,NaN,NaN,0,0,1109
1050316,2014-12-18,NaN,4,1,NaN,NaN,0,0,1109
1050317,2014-12-19,NaN,5,1,NaN,NaN,0,0,1109
1050318,2014-12-20,NaN,6,1,NaN,NaN,0,0,1109
1050319,2014-12-21,NaN,7,0,NaN,NaN,0,0,1109
1050320,2014-12-22,NaN,1,1,NaN,NaN,0,0,1109
1050321,2014-12-23,NaN,2,1,NaN,NaN,0,0,1109
1050322,2014-12-24,NaN,3,1,NaN,NaN,0,0,1109
1050323,2014-12-25,NaN,4,0,NaN,NaN,0,c,1109
1050324,2014-12-26,NaN,5,0,NaN,NaN,0,c,1109
1050325,2014-12-27,NaN,6,1,NaN,NaN,0,0,1109
1050326,2014-12-28,NaN,7,0,NaN,NaN,0,0,1109
1050327,2014-12-29,NaN,1,1,NaN,NaN,0,0,1109
1050328,2014-12-30,NaN,2,1,NaN,NaN,0,0,1109
1050329,2014-12-31,NaN,3,1,NaN,NaN,0,0,1109

In [154]:
train[train["Sales"].isna()==True].count()

Date             33121
Customers            0
DayOfWeek        33121
Open             33121
Promo                0
Sales                0
SchoolHoliday    33121
StateHoliday     33121
Store            33121
dtype: int64

In [155]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050330 entries, 0 to 1050329
Data columns (total 9 columns):
Date             1050330 non-null object
Customers        1017209 non-null float64
DayOfWeek        1050330 non-null int64
Open             1050330 non-null int64
Promo            1017209 non-null float64
Sales            1017209 non-null float64
SchoolHoliday    1050330 non-null int64
StateHoliday     1050330 non-null object
Store            1050330 non-null int64
dtypes: float64(3), int64(4), object(2)
memory usage: 72.1+ MB

In [156]:
#train.to_csv("train_missing_v0.3.csv", index=False)

In [19]:
train = pd.read_csv('train_missing_v0.3.csv')

In [8]:
check.pivot_table(index=["Store"],values=["Date"],
                  columns=["Promo"],aggfunc=pd.Series.nunique,fill_value=0)

      Date
Promo  0.0  1.0
Store
13     472  286
20     472  286
22     472  286
32     472  286
36     472  286
41     472  286
46     472  286
51     472  286
52     472  286
58     472  286
72     472  286
76     472  286
81     472  286
89     472  286
99     472  286
100    472  286
108    472  286
113    472  286
115    472  286
127    472  286
129    472  286
132    472  286
136    472  286
137    472  286
139    472  286
144    472  286
145    472  286
149    472  286
155    472  286
159    472  286
...    ...  ...
909    472  286
915    472  286
919    472  286
920    472  286
932    472  286
941    472  286
952    472  286
974    472  286
977    472  286
988    581  360
989    472  286
1000   472  286
1004   472  286
1009   472  286
1012   472  286
1019   472  286
1027   472  286
1038   472  286
1041   472  286
1049   472  286
1056   472  286
1065   472  286
1067   472  286
1080   472  286
1092   472  286
1094   472  286
1102   472  286
1104   472  286
1107   472  286
1109   472  286

[181 rows x 2 columns]

In [9]:
check.pivot_table(index=["Date"],values=["Store"],
                  columns=["Promo"],aggfunc=pd.Series.nunique,fill_value=0)

           Store
Promo        0.0  1.0
Date
2013-01-01   180    0
2013-01-02   181    0
2013-01-03   181    0
2013-01-04   181    0
2013-01-05   181    0
2013-01-06   181    0
2013-01-07     0  181
2013-01-08     0  181
2013-01-09     0  181
2013-01-10     0  181
2013-01-11     0  181
2013-01-12   181    0
2013-01-13   181    0
2013-01-14   181    0
2013-01-15   181    0
2013-01-16   181    0
2013-01-17   181    0
2013-01-18   181    0
2013-01-19   181    0
2013-01-20   181    0
2013-01-21     0  181
2013-01-22     0  181
2013-01-23     0  181
2013-01-24     0  181
2013-01-25     0  181
2013-01-26   181    0
2013-01-27   181    0
2013-01-28   181    0
2013-01-29   181    0
2013-01-30   181    0
...          ...  ...
2015-07-02     0  181
2015-07-03     0  181
2015-07-04   181    0
2015-07-05   181    0
2015-07-06   181    0
2015-07-07   181    0
2015-07-08   181    0
2015-07-09   181    0
2015-07-10   181    0
2015-07-11   181    0
2015-07-12   181    0
2015-07-13     0  181
2015-07-14     0  181
2015-07-15     0  181
2015-07-16     0  181
2015-07-17     0  181
2015-07-18   181    0
2015-07-19   181    0
2015-07-20   181    0
2015-07-21   181    0
2015-07-22   181    0
2015-07-23   181    0
2015-07-24   181    0
2015-07-25   181    0
2015-07-26   181    0
2015-07-27     0  181
2015-07-28     0  181
2015-07-29     0  181
2015-07-30     0  181
2015-07-31     0  181

[942 rows x 2 columns]

In [10]:
train.pivot_table(index=["Date"],values=["Store"],
                  columns=["Promo"],aggfunc=pd.Series.nunique,fill_value=0)

           Store
Promo        0.0   1.0
Date
2013-01-01  1114     0
2013-01-02  1115     0
2013-01-03  1115     0
2013-01-04  1115     0
2013-01-05  1115     0
2013-01-06  1115     0
2013-01-07     0  1115
2013-01-08     0  1115
2013-01-09     0  1115
2013-01-10     0  1115
2013-01-11     0  1115
2013-01-12  1115     0
2013-01-13  1115     0
2013-01-14  1115     0
2013-01-15  1115     0
2013-01-16  1115     0
2013-01-17  1115     0
2013-01-18  1115     0
2013-01-19  1115     0
2013-01-20  1115     0
2013-01-21     0  1115
2013-01-22     0  1115
2013-01-23     0  1115
2013-01-24     0  1115
2013-01-25     0  1115
2013-01-26  1115     0
2013-01-27  1115     0
2013-01-28  1115     0
2013-01-29  1115     0
2013-01-30  1115     0
...          ...   ...
2015-07-02     0  1115
2015-07-03     0  1115
2015-07-04  1115     0
2015-07-05  1115     0
2015-07-06  1115     0
2015-07-07  1115     0
2015-07-08  1115     0
2015-07-09  1115     0
2015-07-10  1115     0
2015-07-11  1115     0
2015-07-12  1115     0
2015-07-13     0  1115
2015-07-14     0  1115
2015-07-15     0  1115
2015-07-16     0  1115
2015-07-17     0  1115
2015-07-18  1115     0
2015-07-19  1115     0
2015-07-20  1115     0
2015-07-21  1115     0
2015-07-22  1115     0
2015-07-23  1115     0
2015-07-24  1115     0
2015-07-25  1115     0
2015-07-26  1115     0
2015-07-27     0  1115
2015-07-28     0  1115
2015-07-29     0  1115
2015-07-30     0  1115
2015-07-31     0  1115

[942 rows x 2 columns]

In [12]:
train["Date"][train["Store"]==1][train["Promo"]==1].unique()

array(['2014-10-20', '2013-07-15', '2013-01-21', '2015-03-16',
       '2014-05-05', '2014-11-03', '2015-03-02', '2014-01-06',
       '2014-04-28', '2013-02-04', '2013-07-29', '2014-09-29',
       '2014-05-19', '2013-04-22', '2013-12-02', '2015-04-27',
       '2013-04-29', '2015-03-30', '2015-04-13', '2014-10-06',
       '2013-12-16', '2015-01-12', '2014-12-01', '2014-02-17',
       '2013-05-27', '2013-06-17', '2013-06-03', '2015-01-05',
       '2014-03-17', '2014-12-15', '2014-03-03', '2015-02-16',
       '2013-01-07', '2014-01-20', '2013-05-13', '2013-07-01',
       '2014-04-14', '2014-11-10', '2014-11-24', '2014-03-31',
       '2015-01-26', '2014-02-03', '2015-02-02', '2014-07-28',
       '2015-06-01', '2015-07-13', '2013-04-08', '2013-11-04',
       '2014-09-01', '2013-10-07', '2014-08-04', '2015-06-15',
       '2014-08-18', '2013-08-26', '2013-03-04', '2013-10-21',
       '2014-06-16', '2013-09-09', '2014-09-15', '2015-07-27',
       '2014-06-02', '2015-05-04', '2013-03-18', '2014-06-30',
       '2014-07-14', '2015-05-18', '2013-02-18', '2013-03-25',
       '2013-08-12', '2015-06-29', '2013-11-18', '2013-09-23',
       '2014-08-05', '2014-07-01', '2014-11-25', '2014-04-01',
       '2014-12-16', '2014-03-18', '2013-06-04', '2014-07-15',
       '2013-03-19', '2013-03-26', '2014-07-29', '2014-12-02',
       '2013-05-28', '2013-02-19', '2013-04-30', '2014-10-07',
       '2013-01-22', '2014-05-06', '2014-09-02', '2014-09-16',
       '2014-05-20', '2013-04-23', '2013-02-05', '2014-06-03',
       '2014-09-30', '2014-11-11', '2013-01-08', '2014-04-15',
       '2013-05-14', '2013-03-05', '2014-10-21', '2014-04-29',
       '2013-04-09', '2014-08-19', '2014-06-17', '2014-11-04',
       '2013-10-22', '2015-03-31', '2013-12-17', '2015-06-16',
       '2013-08-27', '2015-06-30', '2015-03-03', '2013-07-16',
       '2015-03-17', '2014-01-07', '2013-11-05', '2013-11-19',
       '2015-06-02', '2015-05-05', '2013-08-13', '2015-05-19',
       '2013-07-30', '2015-04-14', '2015-04-28', '2013-12-03',
       '2013-06-18', '2014-02-18', '2015-01-13', '2015-07-14',
       '2013-09-10', '2015-01-27', '2014-03-04', '2013-09-24',
       '2015-01-06', '2015-07-28', '2013-07-02', '2013-10-08',
       '2015-02-17', '2015-02-03', '2014-02-04', '2014-01-21',
       '2013-10-09', '2013-11-06', '2013-04-10', '2014-07-02',
       '2013-03-27', '2014-06-18', '2013-10-23', '2013-09-11',
       '2013-09-25', '2013-08-28', '2013-05-15', '2014-02-05',
       '2014-04-02', '2014-01-22', '2013-07-03', '2014-04-16',
       '2013-05-29', '2014-03-19', '2014-03-05', '2013-06-05',
       '2013-06-19', '2014-02-19', '2013-12-04', '2013-07-31',
       '2014-05-21', '2014-06-04', '2013-08-14', '2013-11-20',
       '2014-04-30', '2013-07-17', '2014-01-08', '2013-12-18',
       '2013-04-24', '2013-05-01', '2014-05-07', '2014-07-16',
       '2014-12-17', '2015-07-01', '2014-12-03', '2015-01-28',
       '2015-01-14', '2015-01-07', '2014-10-22', '2014-10-08',
       '2013-01-23', '2015-07-15', '2014-11-26', '2013-01-09',
       '2014-11-05', '2014-11-12', '2015-04-15', '2015-04-29',
       '2015-04-01', '2015-05-20', '2015-06-03', '2015-05-06',
       '2015-02-18', '2015-02-04', '2015-03-18', '2015-06-17',
       '2015-03-04', '2015-07-29', '2014-08-06', '2013-03-06',
       '2013-02-06', '2014-09-17', '2014-07-30', '2013-02-20',
       '2014-08-20', '2014-09-03', '2013-03-20', '2014-10-01',
       '2013-10-24', '2015-03-05', '2015-05-21', '2015-03-19',
       '2014-01-09', '2014-08-21', '2013-11-07', '2015-06-18',
       '2013-07-04', '2013-08-15', '2014-07-17', '2014-01-23',
       '2015-02-19', '2014-06-19', '2013-08-01', '2013-12-05',
       '2013-11-21', '2014-07-31', '2015-04-16', '2015-05-07',
       '2015-06-04', '2015-04-30', '2015-07-30', '2014-08-07',
       '2013-03-21', '2015-04-02', '2013-03-07', '2013-07-18',
       '2014-07-03', '2013-03-28', '2013-12-19', '2013-02-07',
       '2014-09-18', '2014-05-22', '2014-11-13', '2013-05-16',
       '2014-12-04', '2014-11-27', '2014-04-03', '2013-01-24',
       '2014-10-02', '2013-05-02', '2014-05-01', '2014-10-09',
       '2015-07-16', '2014-05-08', '2014-04-17', '2013-01-10',
       '2014-11-06', '2014-10-23', '2013-04-25', '2014-02-20',
       '2015-01-15', '2013-02-21', '2015-01-08', '2013-04-11',
       '2015-01-29', '2015-02-05', '2013-08-29', '2014-02-06',
       '2013-06-20', '2014-12-18', '2015-07-02', '2013-05-30',
       '2013-10-10', '2014-03-20', '2013-09-12', '2014-03-06',
       '2014-06-05', '2014-09-04', '2013-06-06', '2013-09-26',
       '2013-08-30', '2013-09-13', '2013-01-11', '2013-01-25',
       '2013-05-03', '2013-05-31', '2013-05-17', '2013-03-29',
       '2013-02-22', '2013-03-22', '2013-03-08', '2013-02-08',
       '2013-04-26', '2013-04-12', '2013-07-19', '2013-08-16',
       '2013-08-02', '2013-06-21', '2013-06-07', '2013-07-05',
       '2015-07-31', '2015-02-20', '2014-01-24', '2015-03-06',
       '2014-05-23', '2015-02-06', '2014-10-10', '2015-01-30',
       '2014-10-03', '2014-02-07', '2013-12-20', '2015-04-03',
       '2014-06-06', '2014-01-10', '2014-09-19', '2015-03-20',
       '2014-12-05', '2014-11-07', '2014-12-19', '2014-03-21',
       '2014-04-18', '2014-11-14', '2014-11-28', '2014-04-04',
       '2015-01-16', '2014-05-09', '2014-02-21', '2015-01-09',
       '2014-10-24', '2014-05-02', '2014-03-07', '2013-11-08',
       '2015-06-05', '2015-07-17', '2015-05-22', '2014-08-22',
       '2013-10-11', '2014-07-04', '2015-07-03', '2014-08-08',
       '2014-08-01', '2015-06-19', '2013-10-25', '2014-07-18',
       '2015-05-01', '2013-12-06', '2014-09-05', '2015-04-17',
       '2013-11-22', '2014-06-20', '2013-09-27', '2015-05-08'],
      dtype=object)

In [11]:
len(train["Date"][train["Store"]==1][train["Promo"]==1].unique())

360

In [13]:
promotion = list(['2014-10-20', '2013-07-15', '2013-01-21', '2015-03-16',
       '2014-05-05', '2014-11-03', '2015-03-02', '2014-01-06',
       '2014-04-28', '2013-02-04', '2013-07-29', '2014-09-29',
       '2014-05-19', '2013-04-22', '2013-12-02', '2015-04-27',
       '2013-04-29', '2015-03-30', '2015-04-13', '2014-10-06',
       '2013-12-16', '2015-01-12', '2014-12-01', '2014-02-17',
       '2013-05-27', '2013-06-17', '2013-06-03', '2015-01-05',
       '2014-03-17', '2014-12-15', '2014-03-03', '2015-02-16',
       '2013-01-07', '2014-01-20', '2013-05-13', '2013-07-01',
       '2014-04-14', '2014-11-10', '2014-11-24', '2014-03-31',
       '2015-01-26', '2014-02-03', '2015-02-02', '2014-07-28',
       '2015-06-01', '2015-07-13', '2013-04-08', '2013-11-04',
       '2014-09-01', '2013-10-07', '2014-08-04', '2015-06-15',
       '2014-08-18', '2013-08-26', '2013-03-04', '2013-10-21',
       '2014-06-16', '2013-09-09', '2014-09-15', '2015-07-27',
       '2014-06-02', '2015-05-04', '2013-03-18', '2014-06-30',
       '2014-07-14', '2015-05-18', '2013-02-18', '2013-03-25',
       '2013-08-12', '2015-06-29', '2013-11-18', '2013-09-23',
       '2014-08-05', '2014-07-01', '2014-11-25', '2014-04-01',
       '2014-12-16', '2014-03-18', '2013-06-04', '2014-07-15',
       '2013-03-19', '2013-03-26', '2014-07-29', '2014-12-02',
       '2013-05-28', '2013-02-19', '2013-04-30', '2014-10-07',
       '2013-01-22', '2014-05-06', '2014-09-02', '2014-09-16',
       '2014-05-20', '2013-04-23', '2013-02-05', '2014-06-03',
       '2014-09-30', '2014-11-11', '2013-01-08', '2014-04-15',
       '2013-05-14', '2013-03-05', '2014-10-21', '2014-04-29',
       '2013-04-09', '2014-08-19', '2014-06-17', '2014-11-04',
       '2013-10-22', '2015-03-31', '2013-12-17', '2015-06-16',
       '2013-08-27', '2015-06-30', '2015-03-03', '2013-07-16',
       '2015-03-17', '2014-01-07', '2013-11-05', '2013-11-19',
       '2015-06-02', '2015-05-05', '2013-08-13', '2015-05-19',
       '2013-07-30', '2015-04-14', '2015-04-28', '2013-12-03',
       '2013-06-18', '2014-02-18', '2015-01-13', '2015-07-14',
       '2013-09-10', '2015-01-27', '2014-03-04', '2013-09-24',
       '2015-01-06', '2015-07-28', '2013-07-02', '2013-10-08',
       '2015-02-17', '2015-02-03', '2014-02-04', '2014-01-21',
       '2013-10-09', '2013-11-06', '2013-04-10', '2014-07-02',
       '2013-03-27', '2014-06-18', '2013-10-23', '2013-09-11',
       '2013-09-25', '2013-08-28', '2013-05-15', '2014-02-05',
       '2014-04-02', '2014-01-22', '2013-07-03', '2014-04-16',
       '2013-05-29', '2014-03-19', '2014-03-05', '2013-06-05',
       '2013-06-19', '2014-02-19', '2013-12-04', '2013-07-31',
       '2014-05-21', '2014-06-04', '2013-08-14', '2013-11-20',
       '2014-04-30', '2013-07-17', '2014-01-08', '2013-12-18',
       '2013-04-24', '2013-05-01', '2014-05-07', '2014-07-16',
       '2014-12-17', '2015-07-01', '2014-12-03', '2015-01-28',
       '2015-01-14', '2015-01-07', '2014-10-22', '2014-10-08',
       '2013-01-23', '2015-07-15', '2014-11-26', '2013-01-09',
       '2014-11-05', '2014-11-12', '2015-04-15', '2015-04-29',
       '2015-04-01', '2015-05-20', '2015-06-03', '2015-05-06',
       '2015-02-18', '2015-02-04', '2015-03-18', '2015-06-17',
       '2015-03-04', '2015-07-29', '2014-08-06', '2013-03-06',
       '2013-02-06', '2014-09-17', '2014-07-30', '2013-02-20',
       '2014-08-20', '2014-09-03', '2013-03-20', '2014-10-01',
       '2013-10-24', '2015-03-05', '2015-05-21', '2015-03-19',
       '2014-01-09', '2014-08-21', '2013-11-07', '2015-06-18',
       '2013-07-04', '2013-08-15', '2014-07-17', '2014-01-23',
       '2015-02-19', '2014-06-19', '2013-08-01', '2013-12-05',
       '2013-11-21', '2014-07-31', '2015-04-16', '2015-05-07',
       '2015-06-04', '2015-04-30', '2015-07-30', '2014-08-07',
       '2013-03-21', '2015-04-02', '2013-03-07', '2013-07-18',
       '2014-07-03', '2013-03-28', '2013-12-19', '2013-02-07',
       '2014-09-18', '2014-05-22', '2014-11-13', '2013-05-16',
       '2014-12-04', '2014-11-27', '2014-04-03', '2013-01-24',
       '2014-10-02', '2013-05-02', '2014-05-01', '2014-10-09',
       '2015-07-16', '2014-05-08', '2014-04-17', '2013-01-10',
       '2014-11-06', '2014-10-23', '2013-04-25', '2014-02-20',
       '2015-01-15', '2013-02-21', '2015-01-08', '2013-04-11',
       '2015-01-29', '2015-02-05', '2013-08-29', '2014-02-06',
       '2013-06-20', '2014-12-18', '2015-07-02', '2013-05-30',
       '2013-10-10', '2014-03-20', '2013-09-12', '2014-03-06',
       '2014-06-05', '2014-09-04', '2013-06-06', '2013-09-26',
       '2013-08-30', '2013-09-13', '2013-01-11', '2013-01-25',
       '2013-05-03', '2013-05-31', '2013-05-17', '2013-03-29',
       '2013-02-22', '2013-03-22', '2013-03-08', '2013-02-08',
       '2013-04-26', '2013-04-12', '2013-07-19', '2013-08-16',
       '2013-08-02', '2013-06-21', '2013-06-07', '2013-07-05',
       '2015-07-31', '2015-02-20', '2014-01-24', '2015-03-06',
       '2014-05-23', '2015-02-06', '2014-10-10', '2015-01-30',
       '2014-10-03', '2014-02-07', '2013-12-20', '2015-04-03',
       '2014-06-06', '2014-01-10', '2014-09-19', '2015-03-20',
       '2014-12-05', '2014-11-07', '2014-12-19', '2014-03-21',
       '2014-04-18', '2014-11-14', '2014-11-28', '2014-04-04',
       '2015-01-16', '2014-05-09', '2014-02-21', '2015-01-09',
       '2014-10-24', '2014-05-02', '2014-03-07', '2013-11-08',
       '2015-06-05', '2015-07-17', '2015-05-22', '2014-08-22',
       '2013-10-11', '2014-07-04', '2015-07-03', '2014-08-08',
       '2014-08-01', '2015-06-19', '2013-10-25', '2014-07-18',
       '2015-05-01', '2013-12-06', '2014-09-05', '2015-04-17',
       '2013-11-22', '2014-06-20', '2013-09-27', '2015-05-08'])

In [20]:
train["Promo"][train.Date.isin(promotion)]= train["Promo"].fillna(1)

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
train[train["Promo"].isna()==True].count()

Date             19801
Customers            0
DayOfWeek        19801
Open             19801
Promo                0
Sales                0
SchoolHoliday    19801
StateHoliday     19801
Store            19801
dtype: int64

In [22]:
train["Promo"]= train["Promo"].fillna(0)

In [23]:
train["Promo"] = train["Promo"].astype("int")

In [24]:
train[train["Sales"].isna()==True]

,Date,Customers,DayOfWeek,Open,Promo,Sales,SchoolHoliday,StateHoliday,Store
1017209,2014-07-01,NaN,2,1,1,NaN,0,0,13
1017210,2014-07-02,NaN,3,1,1,NaN,0,0,13
1017211,2014-07-03,NaN,4,1,1,NaN,0,0,13
1017212,2014-07-04,NaN,5,1,1,NaN,0,0,13
1017213,2014-07-05,NaN,6,1,0,NaN,0,0,13
1017214,2014-07-06,NaN,7,0,0,NaN,0,0,13
1017215,2014-07-07,NaN,1,1,0,NaN,0,0,13
1017216,2014-07-08,NaN,2,1,0,NaN,0,0,13
1017217,2014-07-09,NaN,3,1,0,NaN,0,0,13
1017218,2014-07-10,NaN,4,1,0,NaN,0,0,13
1017219,2014-07-11,NaN,5,1,0,NaN,0,0,13
1017220,2014-07-12,NaN,6,1,0,NaN,0,0,13
1017221,2014-07-13,NaN,7,0,0,NaN,0,0,13
1017222,2014-07-14,NaN,1,1,1,NaN,0,0,13
1017223,2014-07-15,NaN,2,1,1,NaN,0,0,13
1017224,2014-07-16,NaN,3,1,1,NaN,0,0,13
1017225,2014-07-17,NaN,4,1,1,NaN,0,0,13
1017226,2014-07-18,NaN,5,1,1,NaN,0,0,13
1017227,2014-07-19,NaN,6,1,0,NaN,0,0,13
1017228,2014-07-20,NaN,7,0,0,NaN,0,0,13
1017229,2014-07-21,NaN,1,1,0,NaN,0,0,13
1017230,2014-07-22,NaN,2,1,0,NaN,0,0,13
1017231,2014-07-23,NaN,3,1,0,NaN,0,0,13
1017232,2014-07-24,NaN,4,1,0,NaN,0,0,13
1017233,2014-07-25,NaN,5,1,0,NaN,0,0,13
1017234,2014-07-26,NaN,6,1,0,NaN,0,0,13
1017235,2014-07-27,NaN,7,0,0,NaN,0,0,13
1017236,2014-07-28,NaN,1,1,1,NaN,0,0,13
1017237,2014-07-29,NaN,2,1,1,NaN,0,0,13
1017238,2014-07-30,NaN,3,1,1,NaN,0,0,13
...,...,...,...,...,...,...,...,...,...
1050300,2014-12-02,NaN,2,1,1,NaN,0,0,1109
1050301,2014-12-03,NaN,3,1,1,NaN,0,0,1109
1050302,2014-12-04,NaN,4,1,1,NaN,0,0,1109
1050303,2014-12-05,NaN,5,1,1,NaN,0,0,1109
1050304,2014-12-06,NaN,6,1,0,NaN,0,0,1109
1050305,2014-12-07,NaN,7,0,0,NaN,0,0,1109
1050306,2014-12-08,NaN,1,1,0,NaN,0,0,1109
1050307,2014-12-09,NaN,2,1,0,NaN,0,0,1109
1050308,2014-12-10,NaN,3,1,0,NaN,0,0,1109
1050309,2014-12-11,NaN,4,1,0,NaN,0,0,1109
1050310,2014-12-12,NaN,5,1,0,NaN,0,0,1109
1050311,2014-12-13,NaN,6,1,0,NaN,0,0,1109
1050312,2014-12-14,NaN,7,0,0,NaN,0,0,1109
1050313,2014-12-15,NaN,1,1,1,NaN,0,0,1109
1050314,2014-12-16,NaN,2,1,1,NaN,0,0,1109
1050315,2014-12-17,NaN,3,1,1,NaN,0,0,1109
1050316,2014-12-18,NaN,4,1,1,NaN,0,0,1109
1050317,2014-12-19,NaN,5,1,1,NaN,0,0,1109
1050318,2014-12-20,NaN,6,1,0,NaN,0,0,1109
1050319,2014-12-21,NaN,7,0,0,NaN,0,0,1109
1050320,2014-12-22,NaN,1,1,0,NaN,0,0,1109
1050321,2014-12-23,NaN,2,1,0,NaN,0,0,1109
1050322,2014-12-24,NaN,3,1,0,NaN,0,0,1109
1050323,2014-12-25,NaN,4,0,0,NaN,0,c,1109
1050324,2014-12-26,NaN,5,0,0,NaN,0,c,1109
1050325,2014-12-27,NaN,6,1,0,NaN,0,0,1109
1050326,2014-12-28,NaN,7,0,0,NaN,0,0,1109
1050327,2014-12-29,NaN,1,1,0,NaN,0,0,1109
1050328,2014-12-30,NaN,2,1,0,NaN,0,0,1109
1050329,2014-12-31,NaN,3,1,0,NaN,0,0,1109

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050330 entries, 0 to 1050329
Data columns (total 9 columns):
Date             1050330 non-null object
Customers        1017209 non-null float64
DayOfWeek        1050330 non-null int64
Open             1050330 non-null int64
Promo            1050330 non-null int64
Sales            1017209 non-null float64
SchoolHoliday    1050330 non-null int64
StateHoliday     1050330 non-null object
Store            1050330 non-null int64
dtypes: float64(2), int64(5), object(2)
memory usage: 72.1+ MB

In [26]:
#train.to_csv("train_missing_v0.4.csv", index=False)

In [2]:
#train = pd.read_csv('train_missing_v0.4.csv')

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
train["Customers"][train["Open"]==0]= train["Customers"].fillna(0)

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [5]:
train["Sales"][train["Open"]==0]= train["Customers"].fillna(0)

/Users/rfdanti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
train[train["Sales"].isna()==True]

,Date,Customers,DayOfWeek,Open,Promo,Sales,SchoolHoliday,StateHoliday,Store
1017209,2014-07-01,NaN,2,1,1,NaN,0,0,13
1017210,2014-07-02,NaN,3,1,1,NaN,0,0,13
1017211,2014-07-03,NaN,4,1,1,NaN,0,0,13
1017212,2014-07-04,NaN,5,1,1,NaN,0,0,13
1017213,2014-07-05,NaN,6,1,0,NaN,0,0,13
1017215,2014-07-07,NaN,1,1,0,NaN,0,0,13
1017216,2014-07-08,NaN,2,1,0,NaN,0,0,13
1017217,2014-07-09,NaN,3,1,0,NaN,0,0,13
1017218,2014-07-10,NaN,4,1,0,NaN,0,0,13
1017219,2014-07-11,NaN,5,1,0,NaN,0,0,13
1017220,2014-07-12,NaN,6,1,0,NaN,0,0,13
1017222,2014-07-14,NaN,1,1,1,NaN,0,0,13
1017223,2014-07-15,NaN,2,1,1,NaN,0,0,13
1017224,2014-07-16,NaN,3,1,1,NaN,0,0,13
1017225,2014-07-17,NaN,4,1,1,NaN,0,0,13
1017226,2014-07-18,NaN,5,1,1,NaN,0,0,13
1017227,2014-07-19,NaN,6,1,0,NaN,0,0,13
1017229,2014-07-21,NaN,1,1,0,NaN,0,0,13
1017230,2014-07-22,NaN,2,1,0,NaN,0,0,13
1017231,2014-07-23,NaN,3,1,0,NaN,0,0,13
1017232,2014-07-24,NaN,4,1,0,NaN,0,0,13
1017233,2014-07-25,NaN,5,1,0,NaN,0,0,13
1017234,2014-07-26,NaN,6,1,0,NaN,0,0,13
1017236,2014-07-28,NaN,1,1,1,NaN,0,0,13
1017237,2014-07-29,NaN,2,1,1,NaN,0,0,13
1017238,2014-07-30,NaN,3,1,1,NaN,0,0,13
1017239,2014-07-31,NaN,4,1,1,NaN,0,0,13
1017240,2014-08-01,NaN,5,1,1,NaN,0,0,13
1017241,2014-08-02,NaN,6,1,0,NaN,0,0,13
1017243,2014-08-04,NaN,1,1,1,NaN,0,0,13
...,...,...,...,...,...,...,...,...,...
1050293,2014-11-25,NaN,2,1,1,NaN,0,0,1109
1050294,2014-11-26,NaN,3,1,1,NaN,0,0,1109
1050295,2014-11-27,NaN,4,1,1,NaN,0,0,1109
1050296,2014-11-28,NaN,5,1,1,NaN,0,0,1109
1050297,2014-11-29,NaN,6,1,0,NaN,0,0,1109
1050299,2014-12-01,NaN,1,1,1,NaN,0,0,1109
1050300,2014-12-02,NaN,2,1,1,NaN,0,0,1109
1050301,2014-12-03,NaN,3,1,1,NaN,0,0,1109
1050302,2014-12-04,NaN,4,1,1,NaN,0,0,1109
1050303,2014-12-05,NaN,5,1,1,NaN,0,0,1109
1050304,2014-12-06,NaN,6,1,0,NaN,0,0,1109
1050306,2014-12-08,NaN,1,1,0,NaN,0,0,1109
1050307,2014-12-09,NaN,2,1,0,NaN,0,0,1109
1050308,2014-12-10,NaN,3,1,0,NaN,0,0,1109
1050309,2014-12-11,NaN,4,1,0,NaN,0,0,1109
1050310,2014-12-12,NaN,5,1,0,NaN,0,0,1109
1050311,2014-12-13,NaN,6,1,0,NaN,0,0,1109
1050313,2014-12-15,NaN,1,1,1,NaN,0,0,1109
1050314,2014-12-16,NaN,2,1,1,NaN,0,0,1109
1050315,2014-12-17,NaN,3,1,1,NaN,0,0,1109
1050316,2014-12-18,NaN,4,1,1,NaN,0,0,1109
1050317,2014-12-19,NaN,5,1,1,NaN,0,0,1109
1050318,2014-12-20,NaN,6,1,0,NaN,0,0,1109
1050320,2014-12-22,NaN,1,1,0,NaN,0,0,1109
1050321,2014-12-23,NaN,2,1,0,NaN,0,0,1109
1050322,2014-12-24,NaN,3,1,0,NaN,0,0,1109
1050325,2014-12-27,NaN,6,1,0,NaN,0,0,1109
1050327,2014-12-29,NaN,1,1,0,NaN,0,0,1109
1050328,2014-12-30,NaN,2,1,0,NaN,0,0,1109
1050329,2014-12-31,NaN,3,1,0,NaN,0,0,1109

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050330 entries, 0 to 1050329
Data columns (total 9 columns):
Date             1050330 non-null object
Customers        1022401 non-null float64
DayOfWeek        1050330 non-null category
Open             1050330 non-null category
Promo            1050330 non-null category
Sales            1022401 non-null float64
SchoolHoliday    1050330 non-null category
StateHoliday     1050330 non-null category
Store            1050330 non-null category
dtypes: category(6), float64(2), object(1)
memory usage: 31.1+ MB

In [9]:
#set categorical type
category_columns = ["Store", "DayOfWeek", "Open", 
                    "Promo", "SchoolHoliday", "StateHoliday"]
        
for column in category_columns:
    train[column] = train[column].astype('category')

In [12]:
train.to_csv("train_missing_v0.4.csv", index=False)